.tpfield {
  height: 40px;
  width: 300px;
  border: 1px solid gray;
  margin: 5px 0;
  padding: 5px;
}

.ui.meesage {
    transition: all .5s ease
}
.container {
    text-align: center;
}
#pr-button {
    height: 60px;
    position: relative;
    max-width: 300px;
    height: 40px;
    margin: 30px auto;
}
.ui.grid.container {
    padding-top: 42px;
}
pre {
    overflow-x: auto;
    text-align: left;
}
.hidden {
    display: none;
}

#tappay-iframe {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .578571em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    width: 100%;
}